<div class="home">
  <div class="default-block first-block">
    <h1>Your <span>Investments</span></h1>
    <app-block-investments-stats></app-block-investments-stats>
  </div>

  <div class="default-block next-block">
    <h1>Projects <span>Stats</span></h1>
    <app-block-projects-stats></app-block-projects-stats>
  </div>

</div>
