<div class="register-now container">
  <div class="body">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <a routerLink="/account/register">
      <div class="button gradient-button">
        register now
      </div>
    </a>
  </div>
</div>
