@import "colors.scss";
@import "fonts.scss";
@import "buttons.scss";

.register-now{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  .body{
    max-width: 670px;
    text-align: center;
    h1{
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 56px;
      color: $dark;
      margin-bottom: 15px;
    }
    p{
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: $darkMate;
      margin-bottom: 30px;
    }
  }
}
