@import "colors.scss";
@import "buttons.scss";
@import "fonts.scss";

.feature-box {
  width: 385px;
  height: 350px;
  overflow: hidden;
  background: $white;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  .body {
    padding: 25px 30px;

    .image {
      height: 81px;
      width: 81px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title {
      margin-bottom: 20px;
      h2 {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        color: $darkBlue;

      }
    }

    .description {
      p {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        color: $darkMate;
      }
    }
  }
}
