<div class="feature-box">
  <div class="body">
    <div class="image">
      <img src="{{item.image}}">
    </div>
    <div class="title">
      <h2>{{item.title}}</h2>
    </div>
    <div class="description">
      <p>{{item.description}}</p>
    </div>
  </div>
</div>
