<div class="main">
  <div class="header">
    <app-app-header [user]="user" (openModal)="openModal()"></app-app-header>
  </div>
  <div class="body">
    <div class="sidebar">
      <app-app-sidebar></app-app-sidebar>
    </div>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-modal *ngIf="showModal"
           [template]="'createProject'"
           (showModal)="updateShowModal($event)"
></app-modal>
<app-modal *ngIf="deleteContributorModal && deleteContributorModal.enabled"
           [template]="'deleteUserFromProject'"
           [params]="deleteContributorModal"
           (showModal)="updateDeleteModal()"
></app-modal>
<app-modal *ngIf="editContributorModal && editContributorModal.enabled"
           [template]="'editContributor'"
           [params]="editContributorModal"
           (showModal)="updateEditContributorModal()"
></app-modal>
<app-modal *ngIf="addContributionModal && addContributionModal.enabled"
           [template]="'chooseContribution'"
           [params]="addContributionModal"
           (showModal)="updateAddContributionModal()"></app-modal>
