@import "variables.scss";
.main {
  position: relative;
  .header {
    position: initial;
    z-index: 10;
    top: -180px;
  }

  .body {
    display: flex;

    .sidebar {
      position: relative;
    }

    .page {
      width: 100%;
      margin: 0 $pagePadding $pagePadding $pagePadding;
      position: relative;
      z-index: 11;
    }
  }
}
