<div class="investment-block">
  <div class="first-child" style="display: block">
    <canvas baseChart
            width="700px"
            height="400px"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="chartColor">
    </canvas>
  </div>
  <div class="separator">
  </div>
  <div class="last-child">
    <div class="select-time">
      <div class="calendar-interaction-block">
        <div class="left-arrow">
          <
        </div>
        <div class="range-info" (click)="showDatePicker = !showDatePicker">
          <div class="icon">
            <img src="../assets/images/calendar.svg">
          </div>
          <div class="content">
            {{currentDateRange}}
          </div>
        </div>
        <div class="right-arrow">
          >
        </div>
      </div>
      <ng-container *ngIf="showDatePicker">
        <ngx-daterangepicker-material
          (choosedDate)="chooseDate($event)"
          (rangeClicked)="rangeClicked($event)"
          [keepCalendarOpeningWithRange]="true"
          [alwaysShowCalendars]="true"
          [ranges]="ranges"
          [locale]="dateOptions">
        </ngx-daterangepicker-material>
      </ng-container>
    </div>
    <div class="contribution-block">
      <div class="money-block">
        <div class="icon">
          <img src="../assets/images/investments-money.png">
        </div>
        <div class="info">
          <div class="content">
            total money (lei)
          </div>
          <div class="value">
            200
          </div>
        </div>
      </div>
      <div class="time-block">
        <div class="icon">
          <img src="../assets/images/investments-time.png">
        </div>
        <div class="info">
          <div class="content">
            total time (h)
          </div>
          <div class="value">
            4
          </div>
        </div>
      </div>
      <div class="snacks-block">
        <div class="icon">
          <img src="../assets/images/investments-snacks.png">
        </div>
        <div class="info">
          <div class="content">
            total (snacks)
          </div>
          <div class="value">
            1813
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
