@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.investment-block {
  display: flex;

  .first-child {
    canvas {
    }
  }

  .separator {
    background: linear-gradient(0deg, #226CC1 0%, #7BB2FD 47.92%, #FFFFFF 92.19%);
    width: 20px;
    margin: 0 25px 50px;
  }

  .last-child {
    width: 100%;

    .select-time {
      position: relative;

      .calendar-interaction-block {
        display: flex;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        border-radius: 8px;
        max-width: 200px;
        margin: auto;

        .left-arrow {
          font-family: monospace;
          font-weight: bold;
          color: #808080;
          font-size: 24px;
          padding: 8px 13px;
          border-right: 1px solid #F3F3F3;
          cursor: pointer;

          &:hover {
            background: whitesmoke;
          }
        }

        .range-info {
          display: flex;
          cursor: pointer;

          .icon {
            padding: 12px 12px;

          }

          .content {
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #222222;
            padding: 0 12px 0 0;
          }

          &:hover {
            background: whitesmoke;
          }
        }

        .right-arrow {
          font-family: monospace;
          font-weight: bold;
          color: #808080;
          font-size: 24px;
          padding: 8px 13px;
          border-left: 1px solid #F3F3F3;
          cursor: pointer;

          &:hover {
            background: whitesmoke;
          }
        }
      }

      ngx-daterangepicker-material {
        position: absolute;
        right: 0;
        width: 655px;
      }
    }

    .contribution-block {
      .money-block, .time-block, .snacks-block {
        display: flex;
        width: 100%;
        height: 60px;
        margin-top: 15px;
        background-color: $contribution-light;

        .icon {
          background-color: $contribution-darken;
          padding: 18px 15px;

          img {

          }
        }

        .info {
          background-color: $contribution-light;
          display: flex;
          padding: 26px 10px;
          width: 100%;
          justify-content: space-between;

          .content {
            font-family: $poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            align-items: center;
            text-transform: uppercase;
            color: $white;
            padding-right: 12px;
          }

          .value {
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 15px;
            align-items: center;
            text-transform: uppercase;
            color: $white;
          }
        }
      }
    }
  }
}
