<div class="navbar">
  <div class="nav_background" *ngIf="hasBackground">
  </div>
  <div class="body container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/icons/logo.svg">
      </a>
    </div>
    <div class="items">
      <div class="links">
        <div class="link" *ngFor="let item of links">
          <ng-container *ngIf="isLogged && item.name != 'Login'">
            <ng-container *ngIf="item.name != 'Logout'">
              <a routerLink="{{item.link}}">{{item.name}}</a>
            </ng-container>
            <ng-container *ngIf="item.name === 'Logout'">
              <a (click)="logout()">{{item.name}}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!isLogged && item.name != 'Logout'">
            <a routerLink="{{item.link}}">{{item.name}}</a>
          </ng-container>
        </div>

      </div>
    <app-gradient-button [isLogged]="isLogged"></app-gradient-button>
    </div>
  </div>
</div>
