@import "fonts.scss";
@import "colors.scss";
@import "buttons.scss";

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav_background {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 213px;
    background-image: url("/assets/images/navbar-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .body {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    .logo {
      display: flex;
      align-items: center;

    }

    .items {
      display: flex;
      align-items: center;

      .links {
        display: flex;
        align-items: center;

        .link {
          cursor: pointer;
          a {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            margin-right: 30px;
            color: $white;
          }
        }
      }

      .button {

      }
    }

  }
}
