<app-navbar [hasBackground]="true"></app-navbar>
<div class="main container">
 <div class="body">
   <div class="meta">
     <div class="header">
       <h1>{{header}}</h1>
       <span></span>
     </div>
     <div class="subheader">
      <p>{{subheader}} <a *ngIf="link.text" routerLink="{{link.routerlink}}">{{link.text}}</a> </p>
     </div>
   </div>
   <router-outlet></router-outlet>
 </div>
</div>
<div class="ellipse-left">
  <img src="assets/images/ellipse-left.svg">
</div>
<div class="ellipse-right">
  <img src="assets/images/ellipse-right.svg">
</div>
