@import "colors.scss";
@import "fonts.scss";
@import "buttons.scss";

.main {
  margin-top: 230px;
  display: flex;
  justify-content: center;

  .body {
    .meta {
      text-align: center;

      .header {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 72px;
          align-items: center;
          text-align: center;
          color: $dark;
          padding: 0 12px;
        }

        span {
          width: 100%;
          background: linear-gradient(90deg, #CC6EF3 0%, #4175F8 100%);
          height: 4px;
          margin-top: 0;
        }
      }

      .subheader {
        margin-top: 30px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        p {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: $darkMate;

          a {
            color: $lightBlue;
          }
        }
      }
    }
  }
}

.ellipse-left {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.ellipse-right {
  position: absolute;
  right: 0;
  bottom: 50px;
}

img {
  user-select: none;
}
