<div class="edit-project-parent" *ngIf="project">
  <div class="top-child">
    <div class="left-child">
      <div class="upload-image">
        <app-app-project-thumbnail [avatarSize]="172" [project]="project" [editImage]="true"
                                   (fileChange)="handleProfileImage($event)"></app-app-project-thumbnail>
      </div>
      <div class="project-name">
        {{project.name}}
      </div>
    </div>
    <div class="right-child">
      <div class="general-actions" *ngIf="showActions">
        <div class="action-button save" (click)="saveData()">
          Save
        </div>
        <div class="action-button cancel" (click)="cancelData()">
          Cancel
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-child">
    <div class="left-child">
      <div class="label">
        General
      </div>
      <div class="item" *ngFor="let item of projectSettings">
        <div class="title">
          {{item.title}}
        </div>
        <div class="value">
          <ng-container *ngIf="item.showEdit">
            {{item.value}}
          </ng-container>
          <ng-container *ngIf="!item.showEdit">
            <input type="text" [(ngModel)]="item.value">
          </ng-container>
        </div>
        <div class="actions">
          <div *ngIf="item.showEdit" class="edit" (click)="editItem(item.id)">
            Edit
          </div>
          <ng-container *ngIf="!item.showEdit">
            <div class="save" (click)="saveItem(item.id)">
              Save
            </div>
            <div class="cancel" (click)="cancelItem(item.id)">
              Cancel
            </div>
          </ng-container>
        </div>
      </div>

    </div>
    <div class="right-child">
      <div class="label">
        Team
      </div>
      <div class="project-contributors-parent">
        <app-add-founders-block [projectId]="project.id"></app-add-founders-block>
        <div class="contributors-block">
          <div class="single-contributor" *ngFor="let contributor of project.team">
            <div class="left-info">
              <div class="user-image">
                <app-app-avatar [user]="contributor.user" [avatarSize]="60"></app-app-avatar>
              </div>
              <div class="basic-info">
                <div class="name">
                  <app-view-user-name [value]="contributor.user"></app-view-user-name>
                </div>
                <div class="project-position">
                  {{contributor.position}}
                </div>
              </div>
            </div>
            <div class="right-info">
              {{contributor.actions}} %
            </div>
            <div class="edit">
              <app-bullet-btn [contributorId]="contributor.id" [projectId]="project.id"
                              [template]="'edit-contributor'"></app-bullet-btn>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
