@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "buttons.scss";

.edit-project-parent {
  .top-child {
    display: flex;
    justify-content: space-between;

    .left-child {
      display: flex;

      .upload-image {

      }

      .project-name {
        font-family: $poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #484848;
        padding-left: 20px;
        margin: auto;

      }
    }

    .right-child {
      .general-actions {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;

        .action-button {
          &:last-child {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .bottom-child {
    display: flex;
    justify-content: space-between;

    .left-child {
      width: 49%;

      .label {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        color: #343434;
        margin: 30px 0 20px;
      }

      .item {
        display: flex;
        width: 100%;
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $dark;
        padding: 10px 0;
        border-bottom: 2px solid $whiteGrey;

        .title {
          width: 200px;
          text-align: left;
        }

        .value {
          width: 300px;
          text-align: left;
          padding: 0 5px;

          input {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $dark;
            border: none;
            border-bottom: 1px solid $grey;

            &:focus {
              outline: none;
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;
          width: 120px;
          justify-content: flex-end;

          .save {
            color: $orange;
            cursor: pointer;
          }

          .edit {
            cursor: pointer;
          }

          .cancel {
            cursor: pointer;
            margin-left: 10px;
          }
        }
      }
    }

    .right-child {
      width: 49%;

      .label {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        color: #343434;
        margin: 30px auto 20px;
        max-width: 400px;
      }

      .project-contributors-parent {


        .contributors-block {
          .single-contributor {
            display: flex;
            justify-content: space-between;
            background: #F0F3F8;
            border-radius: 8px;
            margin: 15px auto;
            height: 60px;
            max-width: 360px;
            padding: 19px;
            position: relative;

            .left-info {
              display: flex;

              .user-image {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;

                }
              }

              .basic-info {
                margin: auto 15px;

                .name {
                  font-family: $poppins;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 24px;
                  align-items: center;
                  color: #343434;
                }

                .project-position {
                  font-family: $poppins;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  align-items: center;
                  color: #343434;

                  img {
                    margin-left: 10px;
                    width: 16px;
                  }
                }
              }
            }

            .right-info {
              font-family: $poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              align-items: center;
              text-align: right;
              color: #000000;
              margin: auto 0;
            }
            .edit{
              position: absolute;
              right: 15px;
              top: 15px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
