<ng-container *ngIf="project">
  <div class="default-block first-block">
    <h1>Your <span>Project</span></h1>
    <app-block-your-project [project]="project"></app-block-your-project>
  </div>
  <div class="default-block next-block">
    <h1>The <span>Team</span></h1>
    <app-block-the-team [projectSlug]="project.slug" [allContributors]="contributors"></app-block-the-team>
  </div>
  <div class="default-block next-block">
    <h1>The <span>Chart</span></h1>
    <app-block-the-chart [allContributors]="contributors"></app-block-the-chart>
  </div>
</ng-container>
