@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.project-stats-block {
  display: flex;

  .left-child {
    text-align: center;
    width: 220px;
    height: 220px;
    border: 3px solid #343067;
    border-radius: 4px;
    display: grid;

    .project-count {
      font-family: $poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 100px;
      line-height: 150px;
      align-items: center;
      text-transform: uppercase;
      color: $dark;
      margin: auto;
    }

    .projects {
      font-family: $poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 33px;
      align-items: center;
      color: $dark;
      margin-top: -45px;
    }
  }

  .right-child {
    padding: 0 20px;

    .snacks-volume {
      font-family: $poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      align-items: center;
      color: $dark;
      padding-bottom: 20px;

    }

    .projects-activity, .last-activity, .average-own-block .label {
      font-family: $poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      align-items: center;
      color: $dark;
      padding-bottom: 5px;

    }

    .last-activity {

    }

    .average-own-block {
      padding-top: 15px;

      .label {

      }

      .graph {
        .display-line {
          border-radius: 2px;
          background-color: $light-gray;
          height: 15px;

          .progress-bar {
            height: 15px;
            border-radius: 2px 0 0 2px;
            background-color: $orange;

          }
        }
      }
    }
  }
}
