<div class="project-stats-block">
  <div class="left-child">
    <div class="project-count">
      {{projectsCount}}
    </div>
    <div class="projects">
      Projects
    </div>

  </div>
  <div class="right-child">
    <div class="snacks-volume">
      {{snacks}} snacks
    </div>
    <div class="projects-activity">
      {{contributor}} of {{contributorProjects}} projects
    </div>
    <div class="last-activity">
      Last activity: {{lastActivity}}
    </div>
    <div class="average-own-block">
      <div class="label">
        Average owns: {{averageOwns}}
      </div>
      <div class="graph">
        <div class="display-line">
          <div class="progress-bar" [ngStyle]="{'width' : averageOwns}">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
