@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.user-activity-parent {
  border-left: 2px solid #EEEEEE;
  margin-left: 35px;

  .row-log {
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
    margin-left: 40px;

    .left-child {
      position: absolute;
      left: 0;
      top: 0;

      .log-color {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        left: -53px;
        top: 0;
      }

      .log-type {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        color: #525252;
      }

      .log-description {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        color: #7B7B7B;
        padding-top: 5px;

      }
    }

    .right-child {
      .time {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: right;
        color: #525252;
      }
    }
  }
}
