<div class="user-activity-parent" *ngIf="contributor">
  <div class="row-log" *ngFor="let log of allContributions">
    <div class="left-child">
      <div class="log-color" [ngStyle]="{'background-color': log.time? '#DA5834': '#34A853'}">
      </div>
      <div class="log-type" *ngIf="log.time">
        Worked for {{log.time}} hours
      </div>
      <div class="log-type" *ngIf="log.money">
        Invested {{log.money}} lei
      </div>
      <div class="log-description">
        {{log.description}}
      </div>
    </div>
    <div class="right-child">
      <div class="time">
        {{log.createdAt | time : 'hours'}}
      </div>
    </div>
  </div>
</div>
