<div class="login-page">
  <div class="body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="email input-control">
        <input name="email"
               id="email"
               type="email"
               placeholder="Email"
               formControlName="email"
               [ngClass]="{ 'input-is-invalid': submitted && f.email.errors?.required }"
        >
      </div>
      <div class="password input-control">
        <input name="password"
               id="password"
               type="password"
               class="input-control-name"
               placeholder="Password"
               formControlName="password"
               [ngClass]="{ 'input-is-invalid': submitted && f.password.errors?.required }"
        >
      </div>
      <div class="login-btn">
        <button type="submit" class="button login-button">
          Log in
        </button>
      </div>
    </form>
    <div class="actions">
      <span>or</span>

      <div class="login-social">
        <div class="facebook-login">
          <img src="assets/icons/login-facebook.svg">
        </div>
        <div class="google-login">
          <img src="assets/icons/login-google.svg">
        </div>
        <div class="vk-login">
          <img src="assets/icons/login-vk.svg">
        </div>
      </div>
    </div>
  </div>
</div>
