@import "colors.scss";
@import "buttons.scss";
@import "fonts.scss";

.login-page {
  margin-top: 45px;
  display: flex;
  justify-content: center;

  .body {
    width: 274px;

    .email {

    }

    .password {
      margin-top: 25px;

    }

    .email, .password {
      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $grey;
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: $dark;
        width: 100%;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $grey;

        }
      }
    }
    .login-btn{
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login-button{
        border: none;
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        padding: 15px 0;
        font-family: $poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $darkMate;

      }

      .login-social {
        display: flex;

        .facebook-login {

        }

        .google-login {

        }

        .vk-login {

        }

        .facebook-login, .google-login, .vk-login {
          max-width: 30px;
          max-height: 30px;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          img {

          }
        }
      }
    }
  }
}
