<app-navbar [hasBackground]="false" [isLogged]="!!user"></app-navbar>
<app-landing-intro [isLogged]="!!user"></app-landing-intro>
<app-landing-register-now *ngIf="!user"></app-landing-register-now>
<app-landing-features></app-landing-features>
<app-landing-video-block [isLogged]="!!user"></app-landing-video-block>
<app-landing-partners></app-landing-partners>
<app-footer></app-footer>
