@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.single-project {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 50px;
  align-items: center;

  .left-child {
    display: flex;
    align-items: center;

    .image {
      margin-right: 10px;
    }

    .project-name {
      font-family: $poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: $single-project-name;
    }

    .edit-project {
      margin: auto 24px;

      img {
        cursor: pointer;

      }
    }
  }

  .right-child {
    cursor: pointer;
    padding: 7px 40px;
    background-color: $orange;
    display: flex;

    .content {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 35px;
      align-items: center;
      text-transform: uppercase;
      color: $white;

    }

    .add {
      color: $white;
      font-weight: bold;
      font-size: 28px;
      padding: 0 0 0 15px;
    }
    &:hover{
      background-color: red;
    }
  }
}

