<div class="single-project" *ngIf="project">
  <div class="left-child">
    <div class="image">
     <app-app-project-thumbnail [project]="project" [avatarSize]="80"></app-app-project-thumbnail>
    </div>
    <div class="project-name">
      {{project.name}}
    </div>
    <div class="edit-project" [routerLink]="['edit']">
      <img src="../assets/images/edit.svg">
    </div>
  </div>
  <div class="right-child" (click)="addContribution()">
    <div class="content">
      Add contribution
    </div>
    <div class="add">+</div>
  </div>
</div>
