<div class="login-page">
  <div class="body">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <div class="email input-control">
        <input type="text"
               id="email"
               name="email"
               formControlName="email"
               placeholder="Email"
               [ngClass]="{ 'input-is-invalid': submitted && f.email.errors?.required }"
        >
      </div>
      <div class="password input-control">
        <input type="text"
               id="password"
               name="password"
               formControlName="password"
               placeholder="Password"
               [ngClass]="{ 'input-is-invalid': checkedPassword && f.password.errors?.pattern }"
        >
      </div>
      <div class="password input-control">
        <input type="text"
               id="confirmPassword"
               name="confirmPassword"
               formControlName="confirmPassword"
               placeholder="Repeat password"
               [ngClass]="{ 'input-is-invalid': f.confirmPassword.errors?.mustMatch }"
        >
      </div>
      <div class="submit-button">
        <button type="submit" class="button login-button">
          Continue
        </button>
      </div>
    </form>
    <div class="actions">

      <span>or</span>

      <div class="login-social">
        <div class="facebook-login">
          <img src="assets/icons/login-facebook.svg">
        </div>
        <div class="google-login">
          <img src="assets/icons/login-google.svg">
        </div>
        <div class="vk-login">
          <img src="assets/icons/login-vk.svg">
        </div>
      </div>
    </div>

  </div>
</div>
