<div class="charts-parent" *ngIf="allContributors && allContributors.length">
  <div class="chart-types-block">
    <div class="first-chart"
         [ngStyle]="{'color': activeChart === 'pie'? '#FFFFFF' : '', 'background-color': activeChart === 'pie'? '#003770' : ''}"
         (click)="changeChart('pie')">
      Pie
    </div>
    <div class="second-chart"
         [ngStyle]="{'color': activeChart === 'bar'? '#FFFFFF' : '', 'background-color': activeChart === 'bar'? '#003770' : ''}"
         (click)="changeChart('bar')">
      Bars
    </div>
  </div>
  <div class="single-chart">
    <div class="chart">
      <div style="display: block">
        <canvas baseChart
                [data]="data"
                [labels]="contributors"
                [chartType]="activeChart"
                [colors]="chartColor"
                [options]="barChartOptions"
                width="280px"
                height="280px"
        ></canvas>
      </div>
    </div>
    <div class="chart-legend">
      <div class="legend-row" *ngFor="let contributor of allContributors">
        <div style="display: flex">
          <div class="user-color" [ngStyle]="{'background-color': contributor.color}">
          </div>
          <div class="user">
            <app-view-user-name [value]="contributor.user"></app-view-user-name>
          </div>
        </div>
        <div class="contribution">
          {{contributor.actions}} %
        </div>
      </div>
    </div>
  </div>
</div>
