@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.charts-parent {
  .chart-types-block {
    display: flex;

    .first-chart, .second-chart {
      font-family: $poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #C4C4C4;
      background: #F1F1F1;
      border-radius: 8px;
      width: 80px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }

  .single-chart {
    display: flex;
    margin-top: 45px;

    .chart {
      width: 50%;
    }

    .chart-legend {
      width: 50%;
      margin: auto;

      .legend-row {
        display: flex;
        padding-left: 50px;
        padding-bottom: 10px;
        justify-content: space-between;

        .user-color {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        .user {
          padding: 0 10px;
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          align-items: center;
          color: $black;
        }

        .contribution {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          align-items: center;
          text-align: right;
          color: $black;
        }
      }
    }
  }
}
