@import "colors.scss";
@import "fonts.scss";
@import "buttons.scss";

.video-block {
  margin-top: 90px;
  width: 100%;
  height: 788px;
  background-image: url("/assets/images/landing-video-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: center;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .video {
        .custom-vjs {
          max-width: 680px;
          width: auto;
        }
      }
    }

    .right {
      margin-left: 30px;

      .meta {
        width: 380px;

        h4 {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: $lightBlue;
          text-transform: uppercase;
        }

        h2 {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 54px;
          color: $dark;
          margin-bottom: 30px;
        }

        .button {

        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .video-block {
    .body {

      .left {
        .video {
          .custom-vjs {
            width: 576px;
            height: 332px;
          }
        }
      }

      .right {
        .meta {

          h4 {

          }

          h2 {

          }

          .button {

          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .video-block {
    .body {

      .left {
        .video {
          .custom-vjs {
            width: 480px;
            height: 269px;
          }
        }
      }

      .right {
        .meta {

          h4 {

          }

          h2 {

          }

          .button {

          }
        }
      }
    }
  }
}
