<link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
<script src="http://vjs.zencdn.net/5.0.2/video.js"></script>

<div class="video-block">
  <div class="body small-container">
    <div class="left">
      <div class="video">
        <video id="example_video_1" class="video-js vjs-default-skin custom-vjs" controls width="680" height="381"
               poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
          <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
          <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
          <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
          <img class="vjs-no-js" src="assets/images/youtube-preview.png">
        </video>
      </div>
    </div>
    <div class="right">
      <div class="meta">
        <h4>{{description}}</h4>
        <h2>{{title}}</h2>
        <app-gradient-button [isLogged]="isLogged"></app-gradient-button>
      </div>
    </div>
  </div>
</div>
