<div class="profile" *ngIf="user">
  <div class="body">
    <div class="left">
      <div class="image">
        <app-app-avatar [avatarSize]="172" [user]="user" [editImage]="true" (fileChange)="handleProfileImage($event)"></app-app-avatar>
      </div>
      <div class="name">
        <h1><app-view-user-name [value]="user"></app-view-user-name></h1>
      </div>
    </div>
    <div class="right">
      <div class="items">
        <div class="item" *ngFor="let item of userSettings">
          <div class="title">
            {{item.title}}
          </div>
          <div class="value">
            <ng-container *ngIf="item.showEdit">
              {{item.value}}
            </ng-container>
            <ng-container *ngIf="!item.showEdit">
              <input type="text" [(ngModel)]="item.value">
            </ng-container>
          </div>
          <div class="actions">
            <div *ngIf="item.showEdit" class="edit" (click)="editItem(item.id)">
              Edit
            </div>
            <ng-container *ngIf="!item.showEdit">
              <div class="save" (click)="saveItem(item.id)">
                Save
              </div>
              <div class="cancel" (click)="cancelItem(item.id)">
                Cancel
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="general-actions" *ngIf="showActions">
    <div class="action-button save" (click)="saveData()">
      Save
    </div>
    <div class="action-button cancel" (click)="cancelData()">
      Cancel
    </div>
  </div>
</div>
<ng-container *ngIf="showModal">
  <app-modal [template]="'changePassword'" (showModal)="updateModal($event)"></app-modal>
</ng-container>
