@import "colors.scss";
@import "fonts.scss";
@import "variables.scss";
@import "buttons.scss";

.profile {
  .body {
    display: flex;

    .left {
      width: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {

      }

      .name {
        margin-top: 15px;

        h1 {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          text-transform: uppercase;
          color: $dark;
          text-align: center;
        }
      }
    }

    .right {
      margin-left: $accountEditMargin;

      .items {
        .item {
          display: flex;
          width: 100%;
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $dark;
          padding: 10px 0;
          border-bottom: 2px solid $whiteGrey;

          .title {
            width: 200px;
            text-align: left;
          }

          .value {
            width: 300px;
            text-align: left;
            padding: 0 5px;

            input {
              font-family: $poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: $dark;
              border: none;
              border-bottom: 1px solid $grey;

              &:focus {
                outline: none;
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            width: 120px;
            justify-content: flex-end;

            .save {
              color: $orange;
              cursor: pointer;
            }

            .edit {
              cursor: pointer;
            }

            .cancel {
              cursor: pointer;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .general-actions {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    .action-button {
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
