@import "colors.scss";
@import "fonts.scss";

.footer {
  width: 100%;
  height: 300px;
  background-image: url("/assets/images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  .body {
    padding-top: 150px;

    .container {
      margin-left: auto;
      margin-right: auto;
    }

    .items {
      display: flex;
      justify-content: space-between;
      padding-bottom: 45px;

      .logo {
        display: flex;
      }

      .links {
        display: flex;
        align-items: center;

        .link {
          margin-left: 16px;
        }

      }
    }

    .line {
      width: 100%;
      border-top: 2px solid $white;
    }

    .copyright {
      padding: 30px 0;
      display: flex;
      justify-content: center;

      .text {
        color: $white;
        font-family: $poppins;
      }
    }
  }
}
