<div class="footer">
  <div class="body">
    <div class="items container">
      <div class="logo">
        <a routerLink="/">
        <img src="assets/icons/logo.svg">
        </a>
      </div>
      <div class="links">
        <div class="link" *ngFor="let item of links">
         <a href="{{item.link}}" target="_blank">
           <img src="assets/icons/icon-{{item.name}}.svg">
         </a>
        </div>
      </div>
    </div>
    <div class="line">

    </div>
    <div class="copyright container">
      <div class="text">
        © 2019 Copyrights  Equivallent
      </div>
    </div>
  </div>
</div>
