@import 'colors.scss';
@import "buttons.scss";
@import "inputs.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
  z-index: 5000;
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5001;
  width: 300px;
  background: #ffffff;
  border-radius: 20px;
  padding: 60px 10%;
  word-break: normal;

  .close {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .body {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header {
      h1 {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $dark;
      }
    }

    .form {
      width: 300px;
      margin-top: 30px;
      margin-bottom: 15px;

      .password {
        padding: 10px 0;

        input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $grey;
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: $dark;
          width: calc(100% - 8px);
          padding: 2px 4px;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $grey;

          }
        }
        select{
          width: 100%;
          padding: 5px;
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: $dark;
        }
      }
    }

    .buttons {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .action-button {
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.question-parent {
  display: flex;
  margin: 7px 0 20px;

  .question {
    padding-right: 6px;
    color: #7B7B7B;

  }

  .click-here {
    padding-right: 6px;
    color: $orange;
    cursor: pointer;
  }

  .question-icon {
    margin: auto;
    display: flex;
    cursor: pointer;
  }
}

.contribution-type-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;

  .time-contribution {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    justify-content: center;
    display: grid;
    cursor: pointer;

    .icon {
      margin: auto;

    }

    .label {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      align-items: center;
      text-align: center;
      margin-top: -25px;

    }

    &:focus, &:active {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .money-contribution {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    justify-content: center;
    display: grid;
    cursor: pointer;

    .icon {
      margin: auto;

    }

    .label {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      align-items: center;
      text-align: center;
      margin-top: -25px;

    }

    &:focus, &:active {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    }
  }
}

.parent-inputs {
  .contribution-input {
    .time-block {
      display: grid;

      label {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        color: #7B7B7B;
      }

      input {
        border: 2px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 8px;
        height: 43px;
        font-size: 18px;
        padding: 0 8px;
      }
    }

    .money-block {
      display: grid;

      label {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        color: #7B7B7B;
      }

      input {
        border: 2px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 8px;
        height: 43px;
        font-size: 18px;
        padding: 0 8px;
      }
    }
  }
}
.description-input {
  display: grid;
  margin-top: 20px;

  label {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    align-items: center;
    color: #7B7B7B;
  }

  textarea {
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    height: 80px;
    font-size: 18px;
    padding: 8px;
  }
}
