<div
  class="modal"
  [ngClass]="{
    hide: hideModal,
    show: !hideModal
  }"
  (click)="actionsModal()"
></div>
<div
  class="modal-body"
  [ngClass]="{
    hide: hideModal,
    show: !hideModal
  }"
  [ngStyle]="{
  'width': template === 'chooseContribution'? '450px' : '',
  'padding': template === 'chooseContribution'? '60px 8%' : ''
  }"
>
  <div class="close" style="cursor: pointer">
    <img (click)="actionsModal()" src="assets/icons/close.svg"/>
  </div>
  <ng-container *ngIf="template === 'changePassword'">
    <div class="body">
      <div class="header">
        <h1>Change Password</h1>
      </div>
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="clickedYes()">
          <div class="password input-control">
            <input type="text"
                   id="oldPassword"
                   name="oldPassword"
                   formControlName="oldPassword"
                   placeholder="Old Password"
                   [ngClass]="{ 'input-is-invalid': submitted && f.password.errors?.pattern }"
                   [(ngModel)]="password.old"
            >
          </div>
          <div class="password input-control">
            <input type="text"
                   id="newPassword"
                   name="newPassword"
                   formControlName="newPassword"
                   placeholder="New Password"
                   [ngClass]="{ 'input-is-invalid': submitted && f.password.errors?.pattern }"
                   [(ngModel)]="password.new"
            >
          </div>
          <div class="password input-control">
            <input type="text"
                   id="confirmPassword"
                   name="confirmPassword"
                   formControlName="confirmPassword"
                   placeholder="Repeat password"
                   [ngClass]="{ 'input-is-invalid': f.confirmPassword.errors?.mustMatch }"
                   [(ngModel)]="password.repeat"
            >
          </div>
          <div class="buttons">
            <button type="submit" class="action-button save">Save</button>
            <div class="action-button cancel" (click)="clickedNo()">Cancel</div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="template === 'chooseContribution' && !contributionData">
    <div class="body">
      <div class="header">
        <h1>Choose Contribution Type</h1>
      </div>
      <div class="question-parent">
        <div class="question">
          Have question about contribution type?
        </div>
        <div class="click-here">
          Click here
        </div>
        <div class="question-icon">
          <img src="assets/icons/question-icon.svg"/>
        </div>
      </div>
      <div class="contribution-type-block">
        <div class="time-contribution" (click)="contributionType = 'time'; contributionData = true">
          <div class="icon">
            <img src="assets/icons/time-contribution.svg"/>
          </div>
          <div class="label">
            Time
          </div>
        </div>
        <div class="money-contribution" (click)="contributionType = 'money'; contributionData = true">
          <div class="icon">
            <img src="assets/icons/money-contribution.svg"/>
          </div>
          <div class="label">
            Money
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="template === 'chooseContribution' && contributionData">
    <div class="body">
      <div class="header">
        <h1>Enter following data:</h1>
      </div>
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="clickedYes()">
          <div class="parent-inputs">
            <div class="contribution-input">
              <div class="time-block" *ngIf="contributionType === 'time'">
                <label class="form-control-label" for="timeContribution">Hours:</label>
                <input type="text"
                       id="timeContribution"
                       name="timeContribution"
                       formControlName="timeContribution"
                       [(ngModel)]="contributionForm.time"
                >
              </div>
              <div class="money-block" *ngIf="contributionType === 'money'">
                <label class="form-control-label" for="moneyContribution">Money:</label>
                <input type="text"
                       id="moneyContribution"
                       name="moneyContribution"
                       formControlName="moneyContribution"
                       [(ngModel)]="contributionForm.money"
                >
              </div>
            </div>
            <div class="description-input">
              <label class="form-control-label" for="descriptionContribution">Description:</label>
              <textarea class="form-control"
                        name="descriptionContribution"
                        id="descriptionContribution"
                        formControlName="descriptionContribution"
                        [(ngModel)]="contributionForm.description"></textarea>
            </div>
          </div>
          <div class="buttons">
            <button type="submit" class="action-button save">Save</button>
            <div class="action-button cancel" (click)="clickedNo()">Cancel</div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="template === 'createProject'">
    <div class="body">
      <div class="header">
        <h1>Create Project</h1>
      </div>
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="clickedYes()">
          <div class="password input-control">
            <input type="text"
                   id="projectName"
                   name="projectName"
                   formControlName="projectName"
                   placeholder="Project Name"
                   [(ngModel)]="project.name"
                   [ngClass]="{ 'input-is-invalid': submitted && error }"
            >
          </div>
          <div class="password">
            <select [(ngModel)]="project.type" name="ProjectType" class="form-control form-control-sm select"
                    formControlName="projectType">
              <option *ngFor="let option of allProjectTypes" value="{{option}}">{{option}}</option>
            </select>
          </div>
          <div class="buttons">
            <button type="submit" class="action-button save">Create</button>
            <div class="action-button cancel" (click)="actionsModal()">Cancel</div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="template === 'deleteUserFromProject'">
    <div class="body">
      <div class="header">
        <h1>Are you sure you want to delete this contributor from your project?</h1>
      </div>
      <div class="buttons">
        <div class="action-button save" (click)="deleteContributor()">
          Delete
        </div>
        <div class="action-button cancel" (click)="actionsModal()">
          Cancel
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="template === 'editContributor'">
    <div class="body">
      <div class="header">
        <h1>Edit contributor</h1>
      </div>
      <div class="form" *ngIf="contributor">
        <form [formGroup]="registerForm" (ngSubmit)="clickedYes()">
          <div class="password input-control">
            <input type="text"
                   id="hourPrice"
                   name="hourPrice"
                   formControlName="hourPrice"
                   placeholder="Price per hour"
                   [ngClass]="{ 'input-is-invalid': submitted && f.hourPrice.errors?.required }"
                   [(ngModel)]="contributor.hourPrice"
            >
          </div>
          <div class="password input-control">
            <input type="text"
                   id="position"
                   name="position"
                   formControlName="position"
                   placeholder="Position"
                   [ngClass]="{ 'input-is-invalid': submitted && f.position.errors?.required }"
                   [(ngModel)]="contributor.position"
            >
          </div>
          <div class="password input-control">
            <input type="color"
                   id="color"
                   name="color"
                   formControlName="color"
                   placeholder="Color"
                   [ngClass]="{ 'input-is-invalid':submitted && f.color.errors?.required }"
                   [(ngModel)]="contributor.color"
            >
          </div>
          <div class="password input-control">
            <select [(ngModel)]="contributor.status" name="ContributorStatus"
                    class="form-control form-control-sm select"
                    formControlName="status">
              <option *ngFor="let option of allContributorStatuses" value="{{option.data}}">{{option.name}}</option>
            </select>
          </div>
          <div class="buttons">
            <button type="submit" class="action-button save">Save</button>
            <div class="action-button cancel" (click)="clickedNo()">Cancel</div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
