<div class="image" [ngStyle]="{width: avatarSize + 'px'}">
  <ng-container *ngIf="project">
    <ng-container *ngIf="project.imageUrl">
      <div *ngIf="!addPrefix"
        class="image-avatar"
           [ngStyle]="{
            width: avatarSize + 'px',
            height: avatarSize + 'px',
            'background-image': 'url(' + project.imageUrl + ')'
          }"
      ></div>
      <div *ngIf="addPrefix"
        class="image-avatar"
           [ngStyle]="{
            width: avatarSize + 'px',
            height: avatarSize + 'px',
            'background-image': 'url(' + prefix +  project.imageUrl + ')'
          }"
      ></div>
    </ng-container>

    <ng-container *ngIf="!project.imageUrl">
      <div
        class="image-avatar no-img"
        [ngStyle]="{
            width: avatarSize + 'px',
            height: avatarSize + 'px'
          }"
      >
        <ng-container *ngIf="project.name">
          <h5 [ngStyle]="{'font-size': (avatarSize / 2.5) + 'px'}">
            {{ project.name | firstLetter }}
          </h5>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="editImage">
    <div class="edit-image" (click)="fileInput.click()">
      <div class="edit-body">
        <img src="assets/icons/icon-camera.svg">
        <h6>Update</h6>
        <input
          type="file"
          #fileInput
          [hidden]="true"
          (change)="handleFileInput($event.target.files)"
          [attr.accept]="accept"
        />
      </div>
    </div>
  </ng-container>
</div>
