@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.first-block {
  margin-top: -100px;
  width: calc(100% - #{$pagePadding * 2});
}

.next-block {
  margin-top: 60px;
  width: calc((100% - #{$pagePadding * 2})*4/5);

}

.default-block {
  background: $white;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 30px 60px 60px 60px;
  position: relative;

  h1 {
    font-family: $poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    color: #343067;
    padding-bottom: 30px;

    span {
      font-weight: 500;
    }
  }
}
