@import "fonts.scss";
@import "colors.scss";

.gradient-button {
  background: linear-gradient(90deg, #6089E8 0%, #7BB2FD 100%);
  border-radius: 40px;
  padding: 15px 50px;
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: inline-flex;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
}

.login-button {
  background: linear-gradient(90deg, #CC6EF3 0%, #7BB2FD 100%);
  border-radius: 40px;
  padding: 15px 50px;
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: inline-flex;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
}

.action-button {
  padding: 12px 34px;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  color: $white;
  border-radius: 8px;
  display: inline-flex;
  border: none;
  cursor: pointer;

  &.save {
    background: $orange;
  }

  &.cancel {
    background: $darkBlue;
  }
}
.small-btn-blue{
  padding: 6px 15px;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  color: $white;
  border-radius: 8px;
  display: inline-flex;
  border: none;
  cursor: pointer;
  background: $darkBlue;
}
