$white: #FFFFFF;
$dark: #343434;
$lightBlue: #4D81DE;
$darkMate: #606877;
$darkBlue: #343067;
$grey: #CCCCCC;
$red-error-color: rgb(255, 0 , 0, 0.5);
$mainBlue: #226CC1;
$whiteGrey: #F0F3F8;
$darkGrey: #4A4A4A;
$orange: #DA5834;
$contribution-light: #4990E2;
$contribution-darken: #226CC1;
$light-gray: #EEEEEE;
$single-project-name: #484848;
$active-menu: #626262;
$inactive-menu: #9C9D9F;
$black: #000;
$user-name: #BF0000;
$grey-blue-light: #F6F9FD;
$bg-blue-gradient: linear-gradient(90deg, #6089E8 0%, #7BB2FD 100%);
