<div class="header">
  <div class="body">
    <div class="profile">
      <app-app-profile-block [user]="user"></app-app-profile-block>
    </div>
    <div class="right">
      <div class="notifications">
        <app-notification-block></app-notification-block>
      </div>
      <div class="items">
        <div class="item" *ngFor="let item of allLinks">
          <ng-container *ngIf="item.link">
            <a [routerLink]="item.link">
              <img src="{{item.icon}}" alt="{{item.name}}">
            </a>
          </ng-container>
          <ng-container *ngIf="item.action">
            <a (click)="action(item.action)">
              <img src="{{item.icon}}" alt="{{item.name}}">

            </a>
          </ng-container>

        </div>
      </div>
    </div>

  </div>
  <div class="add-button" (click)="openCreateProjectModal()">
    <div class="button">
      <img src="assets/icons/add-button.svg">
    </div>
  </div>
</div>
