@import "colors.scss";
@import "variables.scss";

.header {
  height: $navHeight;
  width: 100%;
  position: initial;
  z-index: 10;
  padding: $navPadding 0;
  background: $mainBlue;

  .body {
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .profile {
      margin-top: auto;
    }

    .right {
      display: flex;

      .notifications {
        z-index: 100;
      }

      .items {
        display: flex;

        .item {
          margin-left: 10px;
        }
      }
    }
  }

  .add-button {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 223px;
    z-index: 1;

    .button {
      img {

      }
    }
  }
}
