@import "colors.scss";
@import "buttons.scss";
@import "fonts.scss";

.features {
  margin-top: 90px;
  width: 100%;
  height: 614px;
  background-image: url("/assets/images/landing-features.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;

  .body {
    display: flex;
    align-items: center;

    .left {
      .meta {
        max-width: 270px;

        .text {
          h2 {
            font-family: $poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 54px;
            color: $dark;
          }

          h4 {
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            color: $lightBlue;
          }
        }

        .navigation {
          display: flex;
          margin-top: 10px;

          .arrow-right {
            margin-left: 30px;
          }

          .arrow-right, .arrow-left {
            &:hover {
              cursor: pointer;

              path {
                fill: $lightBlue;
              }
            }
          }
        }
      }
    }

    .right {
      min-height: 0;
      min-width: 0;
      max-width: 864px;
      margin-left: auto;
      width: 100%;
    }
  }
}
