<div class="features">
  <div class="body container small-container">
    <div class="left">
      <div class="meta">
        <div class="text">
          <h4>{{description}}</h4>
          <h2>{{title}}</h2>
        </div>
        <div class="navigation">
          <div class="arrow-left" (click)="slickModal.slickPrev()">
            <svg width="31" height="38" viewBox="0 0 31 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path
                  d="M9.12938 15.8602H29.6914C30.1426 15.8602 30.5085 16.245 30.5085 16.7197V20.7307C30.5085 21.2054 30.1426 21.5902 29.6914 21.5902H9.12938V24.8892C9.12938 26.4207 7.36895 27.1877 6.33929 26.1048L0.478733 19.9408C-0.159563 19.2694 -0.159563 18.181 0.478733 17.5097L6.33929 11.3457C7.36888 10.2628 9.12938 11.0297 9.12938 12.5612V15.8602Z"
                  fill="#343434"/>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="30.5085" height="36.6724" fill="white" transform="matrix(-1 0 0 1 30.5085 0.389038)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="arrow-right" (click)="slickModal.slickNext()">
            <svg width="31" height="38" viewBox="0 0 31 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path
                  d="M21.396 15.8602H0.834037C0.382743 15.8602 0.0168457 16.245 0.0168457 16.7197V20.7307C0.0168457 21.2054 0.382743 21.5902 0.834037 21.5902H21.396V24.8892C21.396 26.4207 23.1564 27.1877 24.1861 26.1048L30.0467 19.9408C30.685 19.2694 30.685 18.181 30.0467 17.5097L24.1861 11.3457C23.1565 10.2628 21.396 11.0297 21.396 12.5612V15.8602Z"
                  fill="#343434"/>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="30.5085" height="36.6724" fill="white" transform="translate(0.0168457 0.389038)"/>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <ngx-slick-carousel class="carousel"
                          #slickModal="slick-carousel"
                          [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of allFeatures" class="slide">
          <app-feature-box [item]="slide"></app-feature-box>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
