<div class="team-block" *ngIf="allContributors && allContributors.length">
  <div class="team-status-block" *ngIf="inactiveUsers">
    <div class="first-menu" [ngStyle]="{'color': activeMenu === 'active'? '#626262' : ''}"
         (click)="filterTeam('active')">
      Active
    </div>
    <div class="second-menu" [ngStyle]="{'color': activeMenu === 'inactive'? '#626262' : ''}"
         (click)="filterTeam('inactive')">
      Inactive
    </div>
  </div>
  <div class="contributors-block" *ngIf="contributors">
    <div class="single-user" *ngFor="let contributor of contributors"
         [routerLink]="['/app/project/'+ projectSlug + '/contributor/' + contributor.id ]">
      <div class="photo-block">
        <app-app-avatar [user]="contributor.user" [avatarSize]="100"></app-app-avatar>
      </div>
      <div class="info-block">
        <div class="name" [ngStyle]="{'color': contributor.color}">
          <app-view-user-name [value]="contributor.user" [short]="true"></app-view-user-name>
        </div>
        <div class="function">
          {{contributor.position}}
        </div>
        <div class="contribution-block">
          <div class="snacks">
            Snacks
          </div>
          <div class="value">
            {{contributor.snacks}}

          </div>
        </div>
        <div class="actions-block">
          <div class="actions">
            Actions
          </div>
          <div class="value">
            {{contributor.actions}} %
          </div>
        </div>
        <div class="custom-line">
          <div class="progress" [ngStyle]="{'background-color': contributor.color, 'width': contributor.actions + '%'}">

          </div>
        </div>
      </div>
      <div class="more-icon">
        <img src="../assets/images/more-icon.svg">
      </div>
    </div>
  </div>
</div>
