@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.team-block {
  .team-status-block {
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;

    .first-menu {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: $inactive-menu;
      padding-right: 18px;
      cursor: pointer;
    }

    .second-menu {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: $inactive-menu;
      padding-right: 18px;
      cursor: pointer;
    }
  }

  .contributors-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .single-user {
      width: 49%;
      display: flex;
      background: #FFFFFF;
      border: 2px solid #F1F1F1;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 20px;
      margin: 12px 0 6px;
      position: relative;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .photo-block {

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .info-block {
        padding: 0 0 0 16px;
        width: 100%;

        .name {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          cursor: pointer;

        }

        .function {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $single-project-name;
        }

        .contribution-block {
          justify-content: space-between;
          display: flex;

          .snacks {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            color: $single-project-name;
          }

          .value {
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            color: $single-project-name;
          }
        }

        .actions-block {
          display: flex;
          justify-content: space-between;

          .actions {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            color: $single-project-name;
          }

          .value {
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            color: $single-project-name;
          }
        }

        .custom-line {
          background: #F3F3F3;
          border: 0.3px solid #E5E5E5;
          box-sizing: border-box;
          height: 6px;
          margin-top: 6px;

          .progress {
            height: 6px;
          }
        }
      }

      .more-icon {
        img {
          position: absolute;
          top: 15px;
          right: 15px;
          cursor: pointer;
        }
      }
    }
  }
}
