<div class="partners">
  <div class="body container">
    <div class="items">
      <div class="item" *ngFor="let item of allPartners">
        <a href="{{item.link}}">
          <img src="assets/images/partner-{{item.name}}.png">
        </a>
      </div>
    </div>
  </div>
</div>
