.partners {
  padding: 60px 0;
  .body {
    display: flex;
    align-items: center;
    justify-content: center;

    .items {
      display: flex;
      align-items: center;

      .item {
        margin-right: 50px;
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}
