<div class="all-notifications-block">
  <div class="notification-icon" (click)="showTooltip = !showTooltip">
    <img src="../assets/images/notification.png">
    <div class="notification-seen" *ngIf="notificationCount > 0">
      {{notificationCount}}
    </div>
  </div>
  <div class="notification-tooltip" *ngIf="showTooltip">
    <div class="header">
      <div class="text" *ngIf="notifications.length > 0">
        Notifications
      </div>
      <div class="text" *ngIf="notifications.length === 0">
        No notifications yet!
      </div>
      <div class="mark-as-seen" (click)="markAllAsRead()" *ngIf="notifications.length > 0">
        Mark All as Read
      </div>
    </div>
    <div class="all-notifications">
      <ng-container *ngFor="let notification of notifications">
        <div class="notification-parent"
             [ngStyle]="{'background' : notification.seen ? '' : 'rgba(77, 129, 222, 0.15)'}"
             (click)="setNotificationSeen(notification)"
             *ngIf="notification.fullProject">
          <div class="single-notification">
            <div class="left-child">
              <div class="notification-thumb"
                   [routerLink]="['project/' + notification.fullProject.slug + '/contributor/' + notification.author.id]">
                <img [src]="'http://localhost:3000/api/' + notification.author.pictureUrl"
                     *ngIf="notification.author.pictureUrl">
                <ng-container *ngIf="!notification.author.pictureUrl">
                  <div
                    class="image-avatar no-img"
                    [ngStyle]="{
            width: 35 + 'px',
            height: 35 + 'px'
          }"
                  >
                    <ng-container *ngIf="notification.author.firstName && notification.author.lastName">
                      <h5 [ngStyle]="{'font-size': (35 / 2.5) + 'px'}">
                        {{ notification.author.firstName | firstLetter }}{{ notification.author.lastName | firstLetter }}
                      </h5>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
              <div class="notification-content" *ngIf="notification.event === 'PROJECT_CREATED'">
                Project <span>{{notification.fullProject.name}}</span>
                was created!
              </div>
              <div class="notification-content" *ngIf="notification.event === 'ADD_PROJECT_CONTRIBUTOR'">
                User <span>{{notification.author.firstName}}</span> invited you to the
                project <span>{{notification.fullProject.name}}</span>!
              </div>
              <div class="notification-content" *ngIf="notification.event === 'PROJECT_EDITED'">
                User <span>{{notification.author.firstName}}</span>
                edited the project <span>{{notification.fullProject.name}}</span>!
              </div>
              <div class="notification-content" *ngIf="notification.event === 'ADD_CONTRIBUTION'">
                User <span>{{notification.author.firstName}}</span>{{notification.content}}
                <span>{{notification.fullProject.name}}</span>!
              </div>
              <div class="notification-content" *ngIf="notification.event === 'PROJECT_INVITATION'">
                User <span>{{notification.author.firstName}}</span> added you in the project
                <span>{{notification.fullProject.name}}</span>!
              </div>
              <div class="notification-content" *ngIf="notification.event === 'DELETE_PROJECT_CONTRIBUTOR'">
                <span>{{notification.author.firstName}}</span> deleted you from the project
                <span *ngIf="notification.fullProject">{{notification.fullProject.name}}</span>!
              </div>
            </div>
            <div class="notification-data">
              {{notification.createdAt}}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="see-all" [routerLink]="['../app/notifications']">
      See All
    </div>
    <div class="tooltip-arrow">
      <img src="../assets/images/tooltip-arrow.png">
    </div>
  </div>
</div>
