@import "colors.scss";
@import "variables.scss";
@import "../../../shared-components/application/blocks/block-notifications/block-notifications.component";

.all-notifications-block {
  .notification-icon {
    display: flex;
    position: relative;

    img {
      margin-left: auto;
      cursor: pointer;
    }

    .notification-seen {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      background: #DB394E;
      border-radius: 50%;
      right: 0;
      top: 0;
      width: 18px;
      height: 18px;
    }
  }

  .notification-tooltip {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 15px;
    max-width: 300px;

    .single-notification {

    }

    .tooltip-arrow {
      position: absolute;
      top: -10px;
      right: 10px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 12px;

      .text {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #525252;
      }

      .mark-as-seen {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #4D81DE;
        cursor: pointer;
      }
    }

    .see-all {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #4D81DE;
      cursor: pointer;
      padding: 6px;
    }
  }
}
