@import "colors.scss";
@import "buttons.scss";
@import "fonts.scss";

.login-page {
  margin-top: 45px;
  display: flex;
  justify-content: center;

  .body {
    width: 274px;

    .email {

    }

    .password {
      margin-top: 25px;

    }

    .email, .password {
      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $grey;
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: $dark;
        width: 100%;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $grey;

        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 45px;

      &.faded {
        margin-top: 0;

        .button {
          opacity: 0.5;
        }
      }
      &.no-margin{
        margin-top: 0;
      }
    }
  }
}
