<ng-container *ngIf="shouldWriteEmail">
  <div class="login-page">
    <div class="body">
      <div class="email">
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="actions">
        <div class="button login-button" (click)="sendEmail()">
          Send
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="wasClickedSendEmail">
  <div class="login-page">
    <div class="body">
      <div class="actions faded">
        <div class="button login-button" (click)="sendBetaConfirmed()">
          Send
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="wasConfirmedFromEmail">
  <div class="login-page">
    <div class="body">
      <div class="password">
        <input type="text" name="password" placeholder="Password">
      </div>
      <div class="password">
        <input type="text" name="repeat-password" placeholder="Repeat password">
      </div>
      <div class="actions">
        <div class="button login-button" (click)="sendSuccess()">
          Send
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="successfullyChangedPassword">
  <div class="login-page">
    <div class="body">
      <div class="actions no-margin">
        <img src="assets/icons/login-success.svg">
      </div>
    </div>
  </div>
</ng-container>
