@import "colors.scss";
@import "fonts.scss";
@import "buttons.scss";

.add-founders {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid transparent;
  position: relative;

  &.showInput {
    background: $grey-blue-light;
    border: 1px solid $whiteGrey;
    box-sizing: border-box;
    border-radius: 43px;
  }

  .add-contributor-button {
    cursor: pointer;
    display: flex;

    img {
      transition: transform 0.5s;

      &.rotate {
        transform: rotate(45deg);
      }
    }
  }

  .input {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;

    input {
      padding: 0 0 0 15px;
      width: 80%;
      height: 100%;
      background: transparent;
      border: none;
      font-family: $poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;

      color: #343434;

      &:focus {
        outline: none;
      }
    }
  }

  .founder-list {
    position: absolute;
    top: 0;
    right: 400px;
    display: flex;

    .list {
      width: 300px;
      min-height: 40px;
      max-height: 400px;
      background: $whiteGrey;
      margin-right: -2px;
      padding: 12px 30px;

      .user {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white;
        padding: 7px 0;

        &:last-child {
          border-bottom: 1px solid transparent;
        }

        .avatar {
          cursor: default;

        }

        .name {
          margin-left: 15px;
          cursor: default;

          h4 {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $dark;
          }

        }

        .invite {
          margin-left: auto;
          cursor: pointer;

          h4 {
            font-family: $poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $orange;
          }

        }
      }
    }

    .image {
      display: flex;
      padding-top: 18px;
      align-items: flex-start;

    }
  }
}
