<div class="add-founders" [ngClass]="{showInput : openInput}">
  <div class="add-contributor-button" (click)="clickInput()">
    <img src="../assets/icons/add-contributor.svg" [ngClass]="{rotate: openInput}">
  </div>
  <div class="input" *ngIf="openInput">
    <input type="text"
           [(ngModel)]="queryUsers"
           (ngModelChange)="changed($event)">
  </div>
  <div class="founder-list" *ngIf="openInput && this.showList">
    <div class="list">
      <div class="user" *ngFor="let user of users">
        <div class="avatar">
          <app-app-avatar [user]="user" [avatarSize]="60"></app-app-avatar>
        </div>
        <div class="name">
          <h4>
            <app-view-user-name [value]="user"></app-view-user-name>
          </h4>
        </div>
        <div class="invite" (click)="addUser(user)">
          <h4>invite</h4>
        </div>
      </div>
      <div class="load-more" *ngIf="showLoadMoreUserBtn">
        <div class="small-btn-blue" (click)="loadMoreUsers()">Load More</div>
      </div>
    </div>
    <div class="image">
      <img src="assets/icons/add-founder-arrow.svg">
    </div>
  </div>
</div>
