<div class="sidebar">
  <div class="body">
    <div class="items" *ngFor="let items of allItems">
      <div class="title">
        <h2>{{items.title}}</h2>
      </div>
      <div class="item" *ngFor="let item of items.menus">
          <a routerLink="{{item.link}}" routerLinkActive="active"  #rla="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">
           <div class="meta" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
             <img [routerLinkActive]="'active'" src="assets/icons/{{rla.isActive ? item.iconActive : item.iconInactive}}.svg">
             <h4>{{item.title}}</h4>
           </div>
          </a>
      </div>
    </div>
  </div>
</div>
