@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.sidebar {
  position: sticky;
  top: 28px;
  width: $sidebarWidth;
  height: 100vh;
  background: $whiteGrey;

  .body {
    padding-left: 12px;
    .items {
      padding-top: 40px;
      .title{
        padding: 15px 0;
        h2{
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: $darkBlue;

        }
      }
      .item {
        margin-bottom: 10px;
        .meta {
          padding: 15px 12px;
          display: flex;
          align-items: center;
          &.active{
            background: $white;
            border-right: 1px solid $darkBlue;
          }

          img {

          }

          h4 {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            color: $darkGrey;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
