@import 'colors.scss';
@import 'fonts.scss';

.image {
  position: relative;

  .image-avatar {
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    &.no-img {
      background-color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;

      h2,
      h3,
      h4,
      h5 {
        font-family: $poppins;
        color: $darkBlue;
      }
    }
  }

  .edit-image {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    height: 50%;
    width: 100%;
    border-radius: 0 0 100px 100px;
    display: none;
    cursor: pointer;
    user-select: none;

    .edit-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      img {
        margin-bottom: 5px;
      }

      h6 {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: $light-gray;
      }
    }
  }
  &:hover .edit-image{
    display: block;
  }
}
