<div class="image">
  <ng-container *ngIf="user">
    <ng-container *ngIf="user.pictureUrl">
      <div
        class="image-avatar"
        [ngStyle]="{
            width: avatarSize + 'px',
            height: avatarSize + 'px',
            'background-image': 'url(' + prefix+ user.pictureUrl + ')'
          }"
      ></div>
    </ng-container>

    <ng-container *ngIf="!user.pictureUrl">
      <div
        class="image-avatar no-img"
        [ngStyle]="{
            width: avatarSize + 'px',
            height: avatarSize + 'px'
          }"
      >
        <ng-container *ngIf="user.firstName && user.lastName">
          <h5 [ngStyle]="{'font-size': (avatarSize / 2.5) + 'px'}">
            {{ user.firstName | firstLetter }}{{ user.lastName | firstLetter }}
          </h5>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="editImage">
    <div class="edit-image" (click)="fileInput.click()">
      <div class="edit-body">
        <img src="assets/icons/icon-camera.svg">
        <h6>Update</h6>
        <input
          type="file"
          #fileInput
          [hidden]="true"
          (change)="handleFileInput($event.target.files)"
          [attr.accept]="accept"
        />
      </div>
    </div>
  </ng-container>
</div>
