@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.contributor-block {
  display: grid;
  max-width: 850px;
  margin: auto;

  .top-block {
    margin: auto;

    .user-thumbnail {
      display: flex;
      justify-content: center;

      img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
      }
    }

    .user-name {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: $user-name;
      margin-top: 10px;
    }

    .position {
      font-family: $poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #343434;
    }
  }

  .bottom-block {
    .base-info-row {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .join-data {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        color: #343434;
      }

      .hour-price {
        display: flex;

        .edit-icon {
          display: flex;
          justify-content: center;
          margin: auto;
          padding-right: 5px;
        }

        .text {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          align-items: center;
          text-align: right;
          color: #343434;

        }
      }
    }

    .second-row {
      margin-top: 45px;
      justify-content: space-between;
      display: flex;

      .snacks {
        display: flex;
        width: 250px;
        justify-content: space-between;

        .text {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          text-transform: uppercase;
          color: #343434;
        }

        .value {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;
          color: #343434;
        }
      }

      .invested-money {
        display: flex;
        width: 250px;
        justify-content: space-between;

        .text {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          text-transform: uppercase;
          color: #343434;
        }

        .value {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;
          color: #343434;
        }
      }
    }

    .third-row {
      justify-content: space-between;
      display: flex;

      .actions {
        display: flex;
        width: 250px;
        justify-content: space-between;

        .text {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          text-transform: uppercase;
          color: #343434;
        }

        .value {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;
          color: #343434;
        }
      }

      .time-worked {
        display: flex;
        width: 250px;
        justify-content: space-between;

        .text {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          text-transform: uppercase;
          color: #343434;
        }

        .value {
          font-family: $poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;
          color: #343434;
        }
      }
    }

    .timeline {
      height: 10px;
      background: #F3F3F3;
      border: 0.3px solid #E5E5E5;
      box-sizing: border-box;
      margin-top: 30px;

      .progress {
        height: 10px;
        background-color: #BF0000;
      }
    }
  }

}
