<div class="contributor-block" *ngIf="contributor">
  <div class="top-block">
    <div class="user-thumbnail">
      <app-app-avatar [user]="contributor.user" [avatarSize]="125"></app-app-avatar>
    </div>
    <div class="user-name" [ngStyle]="{'color': contributor.color}">
      <app-view-user-name [value]="contributor.user"></app-view-user-name>
    </div>
    <div class="position">
      {{contributor.position}}
    </div>
  </div>
  <div class="bottom-block">
    <div class="base-info-row">
      <div class="join-data">
        Joined {{contributor.joined | time}}
      </div>
      <div class="hour-price">
        <div class="text">
          Price per hour: {{contributor.hourPrice}} lei
        </div>
      </div>
    </div>
    <div class="second-row">
      <div class="snacks">
        <div class="text">
          Snacks
        </div>
        <div class="value">
          {{contributor.snacks}}
        </div>
      </div>
      <div class="invested-money">
        <div class="text">
          Money invested
        </div>
        <div class="value">
          {{contributor.investedMoney}} lei
        </div>
      </div>
    </div>
    <div class="third-row">
      <div class="actions">
        <div class="text">
          Actions
        </div>
        <div class="value">
          {{contributor.actions}} %
        </div>
      </div>
      <div class="time-worked">
        <div class="text">
          Time worked
        </div>
        <div class="value">
          {{contributor.workedTime}} h
        </div>
      </div>
    </div>
    <div class="timeline">
      <div class="progress" [ngStyle]="{
      'width': contributor.actions + '%',
      'background': contributor.color
     }">
      </div>
    </div>
  </div>
</div>
