@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.single-project {
  display: flex;
  margin: 30px 0;
  cursor: pointer;

  .left-child {
    display: flex;

    .parent-image {
      background-color: #7BB2FD;
      width: 280px;
      position: relative;
      padding-bottom: 10px;

      .image-block {
        width: 280px;
        padding-top: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        background-size: cover;
        margin: -10px 0 0 10px;

      }
    }

    .content-block {
      padding: 0 30px 0 40px;
      width: 300px;

      .project-name {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        align-items: center;
        color: $orange;
      }

      .founders-text {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        align-items: center;
        text-transform: uppercase;
        color: $darkGrey;
      }

      .founders {
        display: flex;

        .founder {
          width: 210px;
          display: grid;

          .slide {
            height: 40px;
            width: 70px !important;

            img {
              width: 40px;
              height: 40px;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }

  .right-child {
    width: 137px;
    height: 137px;
    border-radius: 50%;
    border: 3px solid #525252;
    box-sizing: border-box;
    margin-left: 80px;

    .parent-contribution {
      display: flex;

      .contribution {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 42px;
        align-items: center;
        text-transform: uppercase;
        color: $orange;
        margin: auto;
        height: 137px;
        display: flex;
      }
    }
  }
}
