  <ng-container *ngIf="project" >
    <div class="single-project" [routerLink]="['/app/project/', project.slug]">
      <div class="left-child">
        <div class="parent-image">
          <div class="image-block" [ngStyle]="{'background-image': 'url(' + project.imageUrl + ')'}">
          </div>
        </div>
        <div class="content-block">
          <div class="project-name">
            {{project.name}}
          </div>
          <div class="founders-text">
            founders
          </div>
          <div class="founders">
            <ngx-slick-carousel class="carousel founder" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let contributor of project.team" class="slide">
               <app-app-avatar [user]="contributor.user" [avatarSize]="40"></app-app-avatar>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
     <!-- <div class="right-child">
        <div class="parent-contribution">
          <div class="contribution">
            34%
          </div>
        </div>
      </div>-->
    </div>
  </ng-container>
