@import "colors.scss";
@import "fonts.scss";

.bullet-btn {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .content {
    margin-right: 10px;
    width: 120px;
    min-height: 50px;
    max-height: 600px;
    overflow: hidden;
    background: $grey-blue-light;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
    padding: 20px 0;
    border-radius: 5px;

    .items {
      padding: 0 12px;

      .item {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $dark;
          cursor: pointer;
          h4{
            font-weight: 500;
          }
        }

        &.delete {
          a {
            color: $red-error-color;
          }
        }
      }
    }
  }

}
