<div class="bullet-btn">
  <div class="btn" (click)="clickBtn()">
    <img src="assets/icons/bullets.svg">
  </div>
  <div class="content" *ngIf="showEdit">
   <ng-container *ngIf="template === 'edit-contributor'">
     <div class="items">
       <div class="item" *ngFor="let item of actions" [ngClass]="{delete: item.slug === 'delete'}">
         <ng-container *ngIf="item.slug === 'edit'">
           <a (click)="editUser()">
             <h4>{{item.name}}</h4>
           </a>
         </ng-container>
         <ng-container *ngIf="item.slug === 'delete'">
           <a (click)="deleteUser()">
             <h4>{{item.name}}</h4>
           </a>
         </ng-container>
       </div>
     </div>
   </ng-container>
  </div>
</div>
