<ng-container *ngIf="contributor">
  <div class="default-block first-block">
    <h1>Your <span>CO-founder</span></h1>
    <app-block-co-founder [contributor]="contributor"></app-block-co-founder>
    <div class="edit">
      <app-bullet-btn [template]="'edit-contributor'" [projectId]="contributor.project.id" [contributorId]="contributor.id"></app-bullet-btn>
    </div>
  </div>
  <div class="default-block next-block">
    <h1>The <span>Activity</span></h1>
    <app-block-the-user-activity [contributor]="contributor"></app-block-the-user-activity>
  </div>
</ng-container>
