/* You can add global styles to this file, and also import other style files */
body, p, h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1274px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
a, a:hover, a:active{
  text-decoration: none;
}
.button, .button:active, .button:hover, .button:focus{
  text-decoration: none;
  outline: none;
}
.small-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1177px;
}
