@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

.all-notifications-block {
  .make-as-read {
    font-family: $poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #4D81DE;
    margin: 40px 0 20px;
    cursor: pointer;
  }

  .all-notifications {
    .notification-parent {
      .single-notification {
        border-bottom: 0.5px solid gray;
        margin: 0 5px;
        display: flex;
        padding: 12px;
        justify-content: space-between;

        .left-child {
          display: flex;

          .notification-thumb {
            cursor: pointer;

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }

          .notification-content {
            font-family: $poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            margin: auto;
            padding-left: 15px;

            span {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }

        .notification-data {
          font-family: $poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          text-align: right;
          color: #000000;
        }
      }
    }
  }
}

.image-avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center;

  &.no-img {
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
