<div class="all-notifications-block">
  <div class="make-as-read" (click)="markAllAsRead()">
    Mark All as Read
  </div>
  <div class="all-notifications">
    <ng-container *ngFor="let notification of notifications">
      <div class="notification-parent" [routerLink]="['../project/' + notification.fullProject.slug]"
           [ngStyle]="{'background' : notification.seen ? '' : 'rgba(77, 129, 222, 0.15)'}"
           (click)="setNotificationSeen(notification)"
           *ngIf="notification.fullProject">
        <div class="single-notification">
          <div class="left-child">
            <div class="notification-thumb"
                 [routerLink]="['../project/' + notification.fullProject.slug + '/contributor/' + notification.author.id]">
              <img [src]="'http://localhost:3000/api/' + notification.author.pictureUrl"
                   *ngIf="notification.author.pictureUrl">
              <ng-container *ngIf="!notification.author.pictureUrl">
                <div
                  class="image-avatar no-img"
                  [ngStyle]="{
            width: 35 + 'px',
            height: 35 + 'px'
          }"
                >
                  <ng-container *ngIf="notification.author.firstName && notification.author.lastName">
                    <h5 [ngStyle]="{'font-size': (35 / 2.5) + 'px'}">
                      {{ notification.author.firstName | firstLetter }}{{ notification.author.lastName | firstLetter }}
                    </h5>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <div class="notification-content" *ngIf="notification.event === 'PROJECT_CREATED'">
              Project <span>{{notification.fullProject.name}}</span>
              was created!
            </div>
            <div class="notification-content" *ngIf="notification.event === 'ADD_PROJECT_CONTRIBUTOR'">
              User <span>{{notification.author.firstName}}</span> invited you to the
              project <span>{{notification.fullProject.name}}</span>!
            </div>
            <div class="notification-content" *ngIf="notification.event === 'PROJECT_EDITED'">
              User <span>{{notification.author.firstName}}</span>
              edited the project <span>{{notification.fullProject.name}}</span>!
            </div>
            <div class="notification-content" *ngIf="notification.event === 'ADD_CONTRIBUTION'">
              User <span>{{notification.author.firstName}}</span>{{notification.content}}
              <span>{{notification.fullProject.name}}</span>!
            </div>
            <div class="notification-content" *ngIf="notification.event === 'PROJECT_INVITATION'">
              User <span>{{notification.author.firstName}}</span> added you in the project
              <span>{{notification.fullProject.name}}</span>!
            </div>
            <div class="notification-content" *ngIf="notification.event === 'DELETE_PROJECT_CONTRIBUTOR'">
              <span>{{notification.author.firstName}}</span> deleted you from the project
              <span *ngIf="notification.fullProject">{{notification.fullProject.name}}</span>!
            </div>
          </div>
          <div class="notification-data">
            {{notification.createdAt}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
