@import "colors.scss";
@import "fonts.scss";
.profile {
  display: flex;

  .avatar {

  }

  .meta {
    margin-left: 12px;
    h4 {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: $white;
    }

    h6 {
      font-family: $poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: $white;
    }
  }
}
