<div class="profile" *ngIf="user">
  <div class="avatar">
    <app-app-avatar [user]="user" [avatarSize]="64"></app-app-avatar>
  </div>
  <div class="meta">
    <h4><app-view-user-name [value]="user"></app-view-user-name></h4>
    <h6>{{user.description ? user.description : 'The best'}}</h6>
  </div>
</div>
