@import "buttons.scss";
@import "colors.scss";
@import "fonts.scss";

.landing-intro {
  width: 100%;
  height: 900px;
  background-image: url("/assets/images/landing-main-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .body {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

    .left {
      .meta {
        max-width: 480px;
        margin-top: 100px;
        h1 {
          font-family: $poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 72px;
          color: $white;
          margin-bottom: 30px;
        }

        p {
          font-family: $poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          color: $white;
          margin-bottom: 30px;
        }

        .button {

        }
      }
    }

    .right {
      .image {
        img {

        }
      }
    }
  }
}
