<div class="landing-intro">
  <div class="container body small-container">
    <div class="left">
      <div class="meta">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <app-gradient-button [isLogged]="isLogged"></app-gradient-button>
      </div>
    </div>
    <div class="right">
      <div class="image">
        <img src="assets/images/landing-intro-meta.png">
      </div>
    </div>
  </div>
</div>
