<div class="default-block first-block">
  <h1>All <span>Projects</span></h1>
  <ng-container *ngFor="let project of projects">
    <app-block-all-projects [project]="project"></app-block-all-projects>
  </ng-container>
</div>
